@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model BlogStory
@{
    var word_count = @Model.Body; // Get all content of the story
    var counts = word_count.Count(ch => ch == ' ') + 1;
    var minutes = counts / 200; // Calculate Minutes
    var seconds = counts % 200 / (200 / 60); // Calculate Seconds
    var str_minutes = (minutes == 1) ? Localizer["minute"].ToString() : Localizer["minutes"].ToString();
    var str_seconds = (seconds == 1) ? Localizer["second"].ToString() : Localizer["seconds"].ToString();
}
<div class="card card-body post-card">
    <div class="post-preview">
        <h3 itemprop="headline" class="post-title"><a href="/@Model.Slug">@Model.Title</a></h3>
        <p class="post-meta">
            <i class="fas fa-calendar"></i> @Model.DatePublished.AddHours(-4).ToString("MMMM dd, yyyy")
            <i class="fas fa-edit"></i> Sascha Manns
            <i class="fas fa-comments"></i> <span class="disqus-comment-count" data-disqus-identifier="@Model.UniqueId">@Localizer["comments"]</span>.
            <i class="fas fa-clock"></i> @minutes @str_minutes  @seconds @str_seconds
            <br />
            <i class="fas fa-tags"></i>
            @foreach (var tag in Model.Categories.Split(','))
            {
                <a asp-controller="Tag" asp-action="Index" asp-route-tag="@tag" asp-route-page="">@tag</a>
            }
        </p>
        @Html.Raw(Model.GetSummary())
    </div>
</div>

