@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["viewbag-title"];
    ViewBag.PageName = "Data Privacy";
    ViewBag.PageBlurb = "";
    ViewBag.PageImage = "/img/headers/privacy.jpg";
}
<h1>@Localizer["viewbag-pagename"]</h1>
<h2>@Localizer["introduction"]</h2>
<p>@Localizer["introduction-blurp"]</p>
<p>@Localizer["introduction-gender"]</p>
<p>@Localizer["introduction-status"] 31. Oktober 2020</p>
<h2>@Localizer["toc-overview"]</h2>
<ul class="index">
    <li><a class="index-link" href="#m14">@Localizer["introduction"]</a></li>
    <li><a class="index-link" href="#m3">@Localizer["toc-responsible"]</a></li>
    <li><a class="index-link" href="#mOverview">@Localizer["toc-processing"]</a></li>
    <li><a class="index-link" href="#m13">@Localizer["toc-legal-bases"]</a></li>
    <li><a class="index-link" href="#m27">@Localizer["toc-safety"]</a></li>
    <li><a class="index-link" href="#m134">@Localizer["toc-cookies"]</a></li>
    <li><a class="index-link" href="#m104">@Localizer["toc-blogs"]</a></li>
    <li><a class="index-link" href="#m182">@Localizer["toc-contact"]</a></li>
    <li><a class="index-link" href="#m263">@Localizer["toc-analytics"]</a></li>
    <li><a class="index-link" href="#m264">@Localizer["toc-onlinemarketing"]</a></li>
    <li><a class="index-link" href="#m136">@Localizer["toc-onlinemedia"]</a></li>
    <li><a class="index-link" href="#m328">@Localizer["toc-plugins"]</a></li>
    <li><a class="index-link" href="#m12">@Localizer["toc-deletedata"]</a></li>
    <li><a class="index-link" href="#m15">@Localizer["toc-update"]</a></li>
    <li><a class="index-link" href="#m10">@Localizer["toc-rights"]</a></li>
    <li><a class="index-link" href="#m42">@Localizer["toc-definitions"]</a></li>
</ul>
<h2 id="m3">@Localizer["toc-responsible"]</h2>
<p>Sascha Manns<br>Maifeldstraße 10<br>56727 Mayen</p>
<p><strong>@Localizer["responsible-person"]:</strong> Sascha Manns</p>
<p><strong>@Localizer["responsible-email"]:</strong> <a href="mailto:Sascha.Manns@outlook.de">Sascha.Manns@outlook.de</a></p>
<p><strong>@Localizer["responsible-phone"]:</strong> +49-172-3142738</p>
<p><strong>@Localizer["responsible-imprint"]:</strong> <a href="http://saschamanns.de/imprint" target="_blank">http://saschamanns.de/imprint</a></p>
<br />
<h2 id="mOverview">@Localizer["toc-processing"]</h2>
<p>@Localizer["processing-purposes"]</p>
<h3>@Localizer["processing-types"]</h3>
<ul>
    <li>@Localizer["processing-contentdata"].</li>
    <li>@Localizer["processing-contactdetails"].</li>
    <li>@Localizer["processing-meta"].</li>
    <li>@Localizer["processing-usage"].</li>
</ul>
<h3>@Localizer["processing-personcategory"]</h3>
<ul>
    <li>@Localizer["processing-interests"].</li>
    <li>@Localizer["processing-communicationpartner"].</li>
    <li>@Localizer["processing-user"].</li>
</ul>
<h3>@Localizer["processing-toc-purpose"]</h3>
<ul>
    <li>@Localizer["processing-toc-provision"].</li>
    <li>@Localizer["processing-toc-feedback"].</li>
    <li>@Localizer["processing-toc-contact"].</li>
    <li>@Localizer["processing-toc-access"].</li>
    <li>@Localizer["processing-toc-security"].</li>
    <li>@Localizer["processing-toc-tracking"].</li>
    <li>@Localizer["processing-toc-managing"].</li>
</ul>
<h3 id="m13">@Localizer["toc-legal-bases"]</h3>
<p>@Localizer["legal-bases-blurp"]</p>
<ul>
    <li>@Localizer["legal-bases-consent"]</li>
    <li>@Localizer["legal-bases-contract"]</li>
    <li>@Localizer["legal-bases-interests"]</li>
</ul>
<p>@Localizer["legal-bases-additionals"]</p>
<h2 id="m27">@Localizer["toc-safety"]</h2>
<p>@Localizer["legal-bases-measures"]</p>
<p>@Localizer["legal-bases-control"]</p>
<p>@Localizer["legal-bases-ssl"]</p>
<h2 id="m134">@Localizer["toc-cookies"]</h2>
<p>@Localizer["cookies-blurp"]</p>
<p>@Localizer["cookies-types"]</p>
<ul>
    <li>@Localizer["cookies-type-temp"]</li>
    <li>@Localizer["cookies-type-permanent"]</li>
    <li>@Localizer["cookies-type-first"]</li>
    <li>@Localizer["cookies-type-third"]</li>
    <li>@Localizer["cookies-type-essential"]</li>
    <li>@Localizer["cookies-type-statistic"]</li>
</ul>
<p>@Localizer["cookies-type-rights"]</p>
<p>@Localizer["cookies-type-save"]</p>
<p>@Localizer["cookies-type-revocation"]</p>
<p>@Localizer["cookies-type-processing"]</p>
<ul class="m-elements">
    <li>@Localizer["cookies-type-data"]</li>
    <li>@Localizer["cookies-type-affected"]</li>
    <li>@Localizer["cookies-legal-basis"]</li>
</ul>
<h2 id="m104">@Localizer["toc-blogs"]</h2>
<p>@Localizer["blogs-blurp"]</p>
<p>@Localizer["blogs-comments"]</p>
<p>@Localizer["blogs-spam"]</p>
<p>@Localizer["blogs-survey"]</p>
<p>@Localizer["blogs-comments-data"]</p>
<ul class="m-elements">
    <li>@Localizer["blogs-processed-data"]</li>
    <li>@Localizer["blogs-affected-person"]</li>
    <li>@Localizer["blogs-purpose"]</li>
    <li>@Localizer["blogs-legal"]</li>
</ul>
<h2 id="m182">@Localizer["toc-contact"]</h2>
<p>@Localizer["contact-us"]</p>
<p>@Localizer["contact-answering"]</p>
<ul class="m-elements">
    <li>@Localizer["contact-data-types"]</li>
    <li>@Localizer["contact-affected"]</li>
    <li>@Localizer["contact-purposes"]</li>
    <li>@Localizer["contact-legal"]</li>
</ul>
<h2 id="m263">@Localizer["toc-analytics"]</h2>
<p>@Localizer["analytics-blurp"]</p>
<p>@Localizer["analytics-tests"]</p>
<p>@Localizer["analytics-userprofile"]</p>
<p>@Localizer["analytics-ip"]</p>
<p>@Localizer["analytics-legal-bases"]</p>
<ul class="m-elements">
    <li>@Localizer["analytics-data"]</li>
    <li>@Localizer["blogs-affected-person"]</li>
    <li>@Localizer["analytics-purpose"]</li>
    <li>@Localizer["analytics-security"]</li>
    <li>@Localizer["analytics-legal"]</li>
</ul>
<p>@Localizer["analytics-services"]</p>
<ul class="m-elements">
    <li>@Localizer["analytics-google"]</li>
</ul>
<h2 id="m264">@Localizer["toc-onlinemarketing"]</h2>
<p>@Localizer["onlinemarketing-blurp"]</p>
<p>@Localizer["onlinemarketing-userprofile"]</p>
<p>@Localizer["onlinemarketing-ip"]</p>
<p>@Localizer["onlinemarketing-profile"]</p>
<p>@Localizer["onlinemarketing-profile1"]</p>
<p>@Localizer["onlinemarketing-marketing"]</p>
<p>@Localizer["onlinemarketing-cookies"]</p>
<p>@Localizer["onlinemarketing-legal"]</p>
<ul class="m-elements">
    <li>@Localizer["onlinemarketing-datatypes"]</li>
    <li>@Localizer["onlinemarketing-affected"]</li>
    <li>@Localizer["onlinemarketing-purpose"]</li>
    <li>@Localizer["onlinemarketing-security"]</li>
    <li>@Localizer["onlinemarketing-legalbase"]</li>
    <li>@Localizer["onlinemarketing-optout"]</li>
</ul>
<p><strong>@Localizer["onlinemarketing-services"]:</strong></p>
<ul class="m-elements">
    <li>@Localizer["onlinemarketing-google"]</li>
</ul>
<h2 id="m136">@Localizer["toc-onlinemedia"]</h2>
<p>@Localizer["onlinemedia-blurp"]</p>
<p>@Localizer["onlinemedia-blurp1"]</p>
<p>@Localizer["onlinemedia-blurp2"]</p>
<p>@Localizer["onlinemedia-blurp3"]</p>
<p>@Localizer["onlinemedia-blurp4"]</p>
<p>@Localizer["onlinemedia-facebook"]</p>
<ul class="m-elements">
    <li>@Localizer["onlinemedia-processed"]</li>
    <li>@Localizer["onlinemedia-affected"]</li>
    <li>@Localizer["onlinemedia-purpose"]</li>
    <li>@Localizer["onlinemedia-law"]</li>
</ul>
<p>@Localizer["onlinemarketing-services"]</p>
<ul class="m-elements">
    <li>@Localizer["onlinemedia-instagram"]</li>
    <li>@Localizer["onlinemedia-facebook1"]</li>
    <li>@Localizer["onlinemedia-linkedin"]</li>
    <li>@Localizer["onlinemedia-twitter"]</li>
    <li>@Localizer["onlinemedia-xing"]</li>
</ul>
<h2 id="m328">@Localizer["toc-plugins"]</h2>
<p>@Localizer["plugins-blurp"]</p>
<p>@Localizer["plugins-blurp2"]</p>
<p>@Localizer["plugins-law"]</p>
<ul class="m-elements">
    <li>@Localizer["plugins-processed"]</li>
    <li>@Localizer["plugins-affected"]</li>
    <li>@Localizer["plugins-purpose"]</li>
    <li>@Localizer["plugins-law"]</li>
</ul>
<p>@Localizer["analytics-services"]</p>
<ul class="m-elements">
    <li>@Localizer["plugins-fontawesome"]</li>
    <li>@Localizer["plugins-googlefonts"]</li>
    <li>@Localizer["plugins-recaptcha"]</li>
    <li>@Localizer["plugins-slideshare"]</li>
</ul>
<h2 id="m12">@Localizer["delete"]</h2>
<p>@Localizer["plugins-deletion-blurp"]</p>
<p>@Localizer["plugins-deletion-blurp1"]</p>
<p>@Localizer["plugins-deletion-blurp2"]</p>
<h2 id="m15">@Localizer["plugins-changes"]</h2>
<p>@Localizer["plugins-changes-blurp"]</p>
<p>@Localizer["plugins-changes-blurp1"]</p>
<h2 id="m10">@Localizer["plugins-changes-rights"]</h2>
<p>@Localizer["plugins-changes-rights1"]</p>
<ul>
    <li>@Localizer["plugins-changes-rights2"]</li>
    <li>@Localizer["plugins-changes-rights3"]</li>
    <li>@Localizer["plugins-changes-rights4"]</li>
    <li>@Localizer["plugins-changes-rights5"]</li>
    <li>@Localizer["plugins-changes-rights6"]</li>
    <li>@Localizer["plugins-changes-rights7"]</li>
    <li>@Localizer["plugins-changes-rights8"]</li>
</ul>
<h2 id="m42">@Localizer["glossary-title"]</h2>
<p>@Localizer["glossary-blurp"]</p>
<ul class="glossary">
    <li>@Localizer["glossary-ip-mask"]</li>
    <li>@Localizer["glossary-marketing"]</li>
    <li>@Localizer["glossary-conversion-measurement"]</li>
    <li>@Localizer["glossary-personal-data"]</li>
    <li>@Localizer["glossary-profiling"]</li>
    <li>@Localizer["glossary-range-measurement"]</li>
    <li>@Localizer["glossary-remarketing"]</li>
    <li>@Localizer["glossary-tracking"]</li>
    <li>@Localizer["glossary-responsible"]</li>
    <li>@Localizer["glossary-processing"]</li>
</ul>
<p class="seal"><a href="https://datenschutz-generator.de/?l=de" title="@Localizer["seal"]" target="_blank" rel="noopener noreferrer nofollow">@Localizer["seal1"]</a></p>