@{
    ViewBag.Title = "About Me - Sascha Manns's Twilight Zone";
    ViewBag.PageName = "Testimonials";
    ViewBag.PageBlurb = "What others saying ...";
    ViewBag.PageImage = "/img/headers/customer-testimonials-hero.jpg";
}
@inject IConfiguration config
@inject WilderBlog.Services.DataProviders.TestimonialsProvider tests
@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.theme.default.css" />
        <link rel="stylesheet" href="~/css/Testimonials.css" />
    </environment>
    <environment names="Production,Staging">
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.css" />
        <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.theme.css" />
        <link rel="stylesheet" href="~/css/Testimonials.css" />
    </environment>
}
@section scripts {
    <environment names="Development">
        <script src="~/lib/owl.carousel/owl.carousel.js"></script>
        <script src="~/js/Testimonials.js"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/lib/owl.carousel/owl.carousel.min.js"></script>
        <script src="~/js/Testimonials.js"></script>
    </environment>

}

<h1>Testimonials</h1>

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div id="testimonial-slider" class="carousel-project owl-carousel">
                @foreach (var testimonial in tests.Get())
                {
                    <div class="testimonial">
                        <div class="pic">
                            <img src="@testimonial.ImagePath" alt="">
                        </div>
                        <p class="description">
                            @testimonial.Blurp
                        </p>
                        <h3 class="title">
                            @testimonial.Recommender
                            <span class="post"> - @testimonial.RecommenderJob, @testimonial.RecommenderLocation</span>
                        </h3>
                    </div>
                }
            </div>
        </div>
    </div>
</div>